body{
  background-image:url('cover.jpg');
  background-position:center;
  background-repeat:no-repeat;
  background-size: cover;
}
.black{
  background-color:#333;
}
*{
padding:0;
margin: 0;
}
.rowh{
  height:80px;
}
.rows{
  height:40px;
}
.stitle
{
  color:#fff;
  text-transform: uppercase;
}
.title
{

color:#FFF;
font-style:bold;
font-weight:bold;
font-size:32px;
text-align: center;
border-bottom:2px solid #fff;
text-shadow:2px 2px 2px green;
position:relative;
top:16%;
left:10%;
}
.list{
  list-style:none;
  position:absolute;
  color:#fff;
  bottom:-1px;
  left:2%;

}
ul{
  list-style:none;
}
.list li{
  position:relative;
  float: left;
  margin-left:20px;
  margin-right:2px
  text-transform: capitalize;
  margin-top:5px;
  padding:2px;
}
.list li:hover
{
  background:#fff;
  border:1px solid #333;
  border-radius:2px;
  color:#333;
}
.formtitle{
  text-align:center;
  position:relative;
  left:-3%;
  font-size:30px;
  color:green;
  text-shadow:2px  2px 2px #c1c1c1;

}
.btns
{
  position:relative;
  left:200px;
  width:120px;
}

.fform{
  margin:10px;
  padding:8px;
  background-color:#fff;
}
.blankrow{
  margin:10px;
  height:5px;
  width:100%;
  background-color:#333;
}
